body {
  background-color: rgba(165, 245, 219, 0.46);
}

h1 {
  font-family: SimSun;
  font-size: 3em;
  text-align: center;
  font-weight: 1000;
  color: rgba(9, 42, 30, 0.46);
}

img {
  display: block;
  margin: 0 auto;
  width: 14%;
}

section {
  margin-bottom: 20px;
}

h2 {
  font-family: Tahoma;
  font-size: 1.5em;
  font-weight: 1000;
  color: rgba(7, 33, 24, 0.76);
}

ul {
  font-family: Yu Gothic UI;
  list-style-type: georgian;
  padding: 0px;
  margin: 30px;
  color: rgba(7, 33, 24, 0.82);
}

li {
  margin-bottom: 10px;
  list-style-position: inside;
  list-style-type: square;
}

a {
  color: rgba(9, 42, 30, 0.84);
  text-decoration: underline;
  font-size: 15px;
  font-weight: 1000;
  font-family: Yu Gothic UI;
  padding: 0px;
  margin: 30px;
}

#container {
  width: 500px;
  height: 200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

#change-background {
  background-color: rgba(7, 33, 24, 0.82);
  color: rgba(174, 241, 219, 0.81);
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}